h1, h2, h3, h4, h5, h6 {
	font-family: 'Vollkorn', sans-serif;
	font-weight: bold;
}
p, li {
	font-family: 'Oswald', sans-serif;
	color: #585858;
}
p {
	font-size: 16px;
}
h2 {
	margin-top: -3px;
}
.thumbnail-image {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
	background: "img/kevin-cbp.jpg"
	background-size: cover;
}